/**
 * Add styles to credit card form elements.
 */

.braintree-donations-credit-card-expiration .form-item {
  display: inline;
  margin-right: .25em; /* LTR */
}

div.braintree-donations-input-inline {
  margin-top: 1em;
  margin-bottom: 1em;
}

.braintree-donations-input-inline .form-item {
  float:left;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em; /* LTR */
}

.clear-float {
  clear:both;
}

.braintree-donations-month-year-divider {
  margin-right: 3px; /* LTR */
}

div.braintree-donations-credit-card-submit {
  /* Toggled on using JavaScript */
  display: none;
}